apiVersion: apps/v1
kind: Deployment
metadata:
 name: test-app
spec:
 replicas: 1
 selector:
   matchLabels:
     app: test-app
 template:
   metadata:
     labels:
       app: test-app
   spec:
     containers:
     - name: nginx
       image: ghcr.io/ohsaeyeon371/test-app:latest
       ports:
       - containerPort: 80
